venv
.env
authentication/__pycache__
authentication/migrations
recipes/__pycache__
recipes/migrations
nutrition/__pycache__
nutrition/migrations
kanban/__pycache__
kanban/migrations
life_unity_server/__pycache__
notes/migrations
notes/__pycache__
